/* DASHBOARD STYLES*/
/* top nav bar */
.skin-blue .main-header .navbar {
  background-color: #003660;
}
/* top header */
.skin-blue .main-header .logo {
  background-color: #003660;
}
.skin-blue .main-header .logo:hover {
  background-color: #07528c;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #07528c;
}
/* side bar */
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #fff;
}
.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a, .skin-blue .sidebar-menu > li:hover > a {
  background: #74a1c4;
}
.skin-blue .sidebar-menu > li.active > a {
  background-color: #07528c;
}
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #07528c;
}




/* CAREER DB STYLES */
/* this is not working figure out later */
.small-box.bg-light-blue {
  background-color: #168496 !important;
}

.small-box.bg-blue  {
  background-color: #003660 !important;
}

.small-box.bg-green {
  background-color: #6d7d33 !important;
}

/* intro box background color */
.box.box-solid.box-success {
  border: 1px solid #79A540 !important;
}
.box.box-solid.box-success > .box-header {
  background-color:#79A540 !important;
}

/* initial employers and sectors table color */
.box.box-solid.box-navy > .box-header {
  background-color: #003660;
}

/* styling font on tabsetPanel on career db*/
.mesm_main_tab {
  font-size: large;
  font-weight: bold;
  color: #fff;
  background-color: #07528c;
}
/* change background color of tabsetPanel when selected on career db*/
.mesm_main_tab>li.active>a {
  background-color: #013660;
}

/* styling padding inbtwn main tabs and  career db*/
.tab-content {
  margin-top: 0.5rem;
}

/* styling font on placement by sector bar plot career db*/
.italic_sector {
  font-style: italic;
  text-align: center;
}

/* styling large and bold font */
.lrg-bold {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

/* styling large and bold font; link (a tag) white and underline */
.lrg-bold a {
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}


