/* career home page styling */
/* this is not working figure out later */
.small-box.bg-light-blue {
  background-color: #168496 !important;
}

.small-box.bg-blue  {
  background-color: #003660 !important;
}

.small-box.bg-green {
  background-color: #6d7d33 !important;
}

/* styling sector tree map on career db*/
/* title styling*/
#sector_tree {
  font-size: 25px;
}

#sector_tree text {
  font-size: 18px;
  fill: black !important;
}

